{% extends 'base_user_center.html' %}
{% load static from staticfiles %}
{% block page_title %}
    Personal Information
{% endblock page_title %}
{% block right_content %}
    <div class="right_content clearfix">
        <div class="info_con clearfix">
            <h3 class="common_title2">Basic Info</h3>
            <ul class="user_info_list">
                <li><span>Username: </span>{{ user.username }}</li>
                <li><span>Contact Method: </span>{{ address.phone }}</li>
                <li><span>Contact Address: </span>{{ address.addr }}</li>
            </ul>
        </div>
        <h3 class="common_title2">Recently viewed items</h3>
        <div class="has_view_list">
            <ul class="goods_type_list clearfix">
                {% for sku in skus %}
                    <li><a href="{% url 'goods:detail' sku.id %}"><img alt='item detail' src="{{ sku.image.url }}"></a>
                        <h4><a href="{% url 'goods:detail' sku.id %}">{{ sku.name }}</a></h4>
                        <div class="operate">
                            <span class="prize">${{ sku.price }}</span>
                            <span class="unit">{{ sku.price }}/{{ sku.unite }}</span>
                            <a href="#" class="add_goods" title="Add to cart"></a>
                        </div>
                    </li>
                {% empty %}
                    <li>No recently viewed item</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock right_content %}